/**
* Base template
*
*/
html {overflow-x: hidden; height: 100%;}

body {
	background: #ffffff; /* Old browsers */
	background: url("../images/grid.png") repeat, -moz-linear-gradient(-70deg,  #ffffff 0%, #efefef 78%, #CDCDCD 100%); /* FF3.6+ */
	background: url("../images/grid.png") repeat, -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(78%,#efefef), color-stop(100%,#CDCDCD)); /* Chrome,Safari4+ */
	background: url("../images/grid.png") repeat, -webkit-linear-gradient(-70deg,  #ffffff 0%,#efefef 78%,#CDCDCD 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/grid.png") repeat, -o-linear-gradient(-70deg,  #ffffff 0%,#efefef 78%,#CDCDCD 100%); /* Opera 11.10+ */
	background: url("../images/grid.png") repeat, -ms-linear-gradient(-70deg,  #ffffff 0%,#efefef 78%,#CDCDCD 100%); /* IE10+ */
	background: url("../images/grid.png") repeat, linear-gradient(135deg,  #ffffff 0%,#efefef 78%,#CDCDCD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bdbdbd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: @content;
	color: @bodyColor;
	background-attachment: fixed;
}

a {transition: all 0.3s;}

footer {
	display: inline-block;
	width: 100%;
	clear: both;
	margin: 20px 0;
}

address {
	width: 856px;
	float: left;
	text-align: left;
	ul {
		margin-top: 17px;
		text-align: left;
		li {
			display: inline-block;
			color: #000;
			font-size: @otherFont;
			background: url("../images/icon-datos.png") no-repeat;
			padding: 8px 0 8px 37px;
			margin-right: 21px;

			a {
				text-decoration: none;
				color: #000;

				&:hover {
					color: #C70A2B;
				}
			}
		}
	}
}

#social {
	width: 111px;
	float: right;

	a {
		opacity: 1;

		&:hover {
			opacity: 0.8;
		}

		img {border: 0;}
	}
}

.resaltado {
	color: #000;
	font-weight: 600;
}

#logo-sainet {  
	background-image: url("../images/logo-sainet.png");
    background-repeat: no-repeat;
    // float: right;
    height: 20px;
    margin-right: 13px;
    width: 68px;
	margin-left:10px;
	display: inline-block;
	vertical-align: middle;
}

#logo-sainet:hover { 
	// width: 68px; 
	// height: 20px; 
	background-image: url(../images/logo_gris.png);
	background-repeat: no-repeat; 
	// float: right; 
	// margin-right: 13px; 
	// margin-left:10px;
}

#sainet_copy { 
	color: #000;
    // float: left;
    font-size: 12px;
    line-height: 16px;
    margin-top: 23px;
    text-align: left;
    width: auto;
    display: inline-block;
}

