#wrap-all {
	margin: @margin;
	.size (1000px, auto);
}

#banner {
	position: relative;
	.size (935px, 630px );
	margin-left: -283px;
	float: left;
	z-index: 0;
}

nav {
	.size (456px, 394px);
	background: url("../images/bg-menu.png") no-repeat;
	float: left;
	margin-left: -24px;

	li {
		list-style: none;
		text-align: right;

		a {
			text-decoration: none;
			color: #fff;
			font-family: 'Days One', sans-serif;
			font-size: @baseFontSize;
			font-weight: 300;
			opacity: 1;
			margin-right: 0;

			&:hover {
				opacity: 0.9;
				margin-right: -10px;
			}
		}
	}
}

.inicio {
	margin-top: 75px;
	padding-right: 124px;
}

.empresa {
	margin-top: 39px;
	padding-right: 143px;
}

.servicios {
	margin-top: 43px;
	padding-right: 192px;
}

.experiencia {
	margin-top: 46px;
	padding-right: 223px;
}

.contacto {
	margin-top: 44px;
	padding-right: 260px;
}

#logo {
	.size (287px, 139px);
	float: right;
	margin-top: 25px;
}

.fix {clear: both;}


section {
	.size(690px, auto);
	float: right;
	margin: -115px 0 70px 0;

	p {
		font-family: @content;
		font-size: @baseFontSize;
		text-align: justify;
		line-height: 20px;
	}

	h2 {
		font-family: @titles;
		font-size: 29px;
		text-align: left;
		color: #000;
		margin-bottom: 23px;
	}
}

#empresa {
	.size (100%, auto);
	float: left;
	p {
		margin-bottom: 14px;
		font-size: 16px;
	}
}

#img-empresa {
	.size (352px, auto);
	float: right;
	text-align: right;
	padding-top: 53px;

	img {
		border: 10px solid #fff;
		box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
	}
}

.resaltado {
	color: #000;
	font-weight: 600;
}