#wrap-all {
	margin: @margin;
	.size (1000px, auto);
}

#banner {
	position: relative;
	.size (935px, 630px );
	margin-left: -266px;
	float: left;
	z-index: 0;
}

nav {
	.size (456px, 394px);
	background: url("../images/bg-menu.png") no-repeat;
	float: right;
	position: absolute;
	top: 207px;
  right: 0;
	margin-right: 70px;
	z-index: 1;

	li {
		list-style: none;
		text-align: right;

		a {
			text-decoration: none;
			color: #fff;
			font-family: 'Days One', sans-serif;
			font-size: @baseFontSize;
			font-weight: 300;
			opacity: 1;
			margin-right: 0;

			&:hover {
				opacity: 0.9;
				margin-right: -10px;
			}
		}
	}
}

.inicio {
	margin-top: 75px;
	padding-right: 124px;
}

.empresa {
	margin-top: 39px;
	padding-right: 143px;
}

.servicios {
	margin-top: 43px;
	padding-right: 192px;
}

.experiencia {
	margin-top: 46px;
	padding-right: 223px;
}

.contacto {
	margin-top: 44px;
	padding-right: 260px;
}

#logo {
	.size (331px, 139px);
	float: right;
	margin-top: 82px;
}

.fix {clear: both;}

#bienvenidos {
	position: relative;
	.size (373px, 200px);
	float: right;
	clear: both;
	margin-top: -260px;

	h2 {
		font-family: @titles;
		font-size: 29px;
		text-align: center;
		color: #000;
		margin-bottom: 23px;
	}

	p {
		font-family: @content;
		font-size: 17px;
		text-align: center;
		line-height: 26px;
		font-weight: bold;
		color: #333;
	}
}



#destacados {
	position: relative;
	.size (707px, auto);
	float: right;
	clear: both;
	margin-top: -84px;
}

#cont-left, #cont-right {
	position: relative;
	width: 50%;
	float: left;

	img {
		border: 9px solid #fff;
		box-shadow: 0px 0px 9px rgba(0,0,0,0.4);
		z-index: 0;
	}


	h2 {
		position: absolute;
		z-index: 1;
		top: 56%;
		right: 14px;
		background: url("../images/bg-tittle.png") no-repeat;
		.size (234px, 26px);
		color: #fff;
		font-family: @titles;
		font-size: @mediumFont;
		padding: 17px 0 0 27px;
	}
}

.enlaces-home {
	opacity: 1;

	&:hover {
		opacity: 0.7;
	}
}