#wrap-all {
	margin: @margin;
	.size (1000px, auto);
}

#banner {
	position: relative;
	.size (935px, 630px );
	margin-left: -283px;
	float: left;
	z-index: 0;
}

nav {
	.size (456px, 394px);
	background: url("../images/bg-menu.png") no-repeat;
	float: left;
	margin-left: -24px;

	li {
		list-style: none;
		text-align: right;

		a {
			text-decoration: none;
			color: #fff;
			font-family: 'Days One', sans-serif;
			font-size: @baseFontSize;
			font-weight: 300;
			opacity: 1;
			margin-right: 0;

			&:hover {
				opacity: 0.9;
				margin-right: -10px;
			}
		}
	}
}

.inicio {
	margin-top: 75px;
	padding-right: 124px;
}

.empresa {
	margin-top: 39px;
	padding-right: 143px;
}

.servicios {
	margin-top: 43px;
	padding-right: 192px;
}

.experiencia {
	margin-top: 46px;
	padding-right: 223px;
}

.contacto {
	margin-top: 44px;
	padding-right: 260px;
}

#logo {
	.size (287px, 139px);
	float: right;
	margin-top: 25px;
}

.fix {clear: both;}


section {
	.size(690px, auto);
	float: right;
	margin: -115px 0 70px 0;

	p {
		font-family: @content;
		font-size: @baseFontSize;
		text-align: justify;
		line-height: 20px;
	}

	h2 {
		font-family: @titles;
		font-size: 29px;
		text-align: left;
		color: #000;
		margin-bottom: 23px;
	}
}


#servicios {
	.size (100%, auto);

	ul {
		margin-top: 30px;

		li {
			list-style-image: url("../images/lista-icon.png");
			margin:0 0 25px 19px;
    	padding-left: 5px;
			line-height: 20px;
			font-size: 16px;
			text-align: justify;
		}
	}
	p {font-size: 16px;}
}

.img-servicios {
	float: right;
	border: 10px solid #fff;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
	margin: 36px 0 0 25px;
}

#form-container {
	.size(446px; auto);
	float: left;
	background: #fff;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}

#datos {
	.size(355px; 203px);
	background: url("../images/bg-datos.png") no-repeat;
	margin-left: -111px;
	margin-top: 210px;
	float: left;

	ul {
		margin: 70px 0 0 5px;

		li {
			list-style: none;
			margin-bottom: 1px;
			color: #fff;
			font-size: 13px;
			margin-left: 0;
			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #000;
				}
			}
		}
	}
}
.resaltado-conta {font-family: 'Days One', sans-serif;}
.content-galery-browse {
	float: left;
	width: 100%;
	margin-top: 30px;
	*{box-sizing: border-box;}
	img {
		max-width: 100%;
		border: 10px solid #fff;
		box-shadow: 0px 0px 9px -2px #000;
	}
	.row {
		float: left;
		width: 100%;
		margin-bottom: 50px;
		.imagen {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 94%;
				height: 90%;
				background: rgba(0, 0, 0, 0.31);
				left: 10px;
				top: 11px;
				opacity: 0;
				transition: all 0.3s;
			}
		}
		&:hover {
			.imagen {
				&:after {
					opacity: 1;
				}
			}
			.text {
				.link {
					a {
						background: #fff url(../images/varios/mas-boton-hover.png) 92% 14px no-repeat;
						color: #ff0023;
					}
				}
			}
		}
	}
	.row-odd {
		.imagen {
			float: right;
			width: 50%;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 160px;
				height: 145px;
				background: url(../images/varios/mascara-fotos1.png) center no-repeat;
				left: -12px;
				bottom: -46px;
			}
		}
		.text {
			float: left;
			width: 49%;
			background: #fbfbfb;
			height: 234px;
			.title {
				font-family: @titles;
				font-size: 25px;
				text-align: center;
				color: #ff0023;
				margin-bottom: 30px;
				float: left;
				width: 100%;
				margin-top: 47px;
    		padding: 0 10px;
			}
			.link {
				float: left;
				width: 100%;
				text-align: center;
				a {
					font: 100 23px @content;
					color: #666;
					text-transform: uppercase;
					text-decoration: none;
					width: 247px;
			    display: inline-block;
			    border: 1px solid #ff0023;
			    padding: 5px 0;
			    background: transparent url(../images/varios/mas-boton.png) 92% 14px no-repeat;
			    padding-right: 40px;
			    position: relative;
			    &:after {
			    	content: '';
			    	position: absolute;
			    	width: 2px;
				    height: 75%;
				    background: rgba(255, 0, 35, 0.3);
				    right: 49px;
				    top: 5px;
			    }
				}
			}
		}
	}
	.row-even {
		.imagen {
			float: left;
			width: 50%;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 169px;
				height: 152px;
				background: url(../images/varios/mascara-fotos2.png) center no-repeat;
				right: -12px;
				bottom: -46px;
			}
		}
		.text {
			float: right;
			width: 49%;
			background: #fbfbfb;
			height: 234px;
			.title {
				font-family: @titles;
				font-size: 25px;
				text-align: center;
				color: #ff0023;
				margin-bottom: 30px;
				float: left;
				width: 100%;
				margin-top: 47px;
    		padding: 0 10px;
			}
			.link {
				float: left;
				width: 100%;
				text-align: center;
				a {
					font: 100 23px @content;
					color: #666;
					text-transform: uppercase;
					text-decoration: none;
					width: 247px;
			    display: inline-block;
			    border: 1px solid #ff0023;
			    padding: 5px 0;
			    background: transparent url(../images/varios/mas-boton.png) 92% 14px no-repeat;
			    padding-right: 40px;
			    position: relative;
			    &:after {
			    	content: '';
			    	position: absolute;
			    	width: 2px;
				    height: 75%;
				    background: rgba(255, 0, 35, 0.3);
				    right: 49px;
				    top: 5px;
			    }
				}
			}
		}
	}
}
#servicios {
	img {max-width: 100%;}
	.detail {
		float: left;
		width: 100%;
		*{box-sizing: border-box;}
		h3 {
			font-family: 'Days One', sans-serif;
			font-size: 29px;
			text-align: right;
			color: #ff0023;
			margin-bottom: 23px;
			margin-top: 30px;
		}
		#wrapper {
			width: 97%;
			#fullsize {
				width: 100%;
				height: 453px;
				border: none;
    		background: none;
    		float: left;
    		position: relative;
    		&:before {
    			content: '';
    			position: absolute;
    			width: 258px;
    			height: 234px;
    			background: url(../images/varios/mascara-foto-interna.png) center no-repeat;
					z-index: 99;
					bottom: -62px;
					left: -27px;
    		}
    		#information {display: none;}
    		#imgprev, #imgnext {display: none;}
    		img {
					border: 17px solid #fff;
					box-sizing: border-box;
					box-shadow: 0px 0px 16px -6px #000;
    		}
			}
			#thumbnails {
				float: left;
				width: 100%;
				background: #ffffff;
				padding: 65px 0;
				margin-top: 0;
				#slidearea {
					width: 621px;
					height: 137px;
				}
				#slider {
					height: auto;
					img {
						width: 202px;
					}
				}
				#slideleft {
					background: transparent url(../images/varios/btn-atras-galeria.png) center no-repeat;
					margin-top: 22px;
				}
				#slideright {
					background: transparent url(../images/varios/btn-adelante-galeria.png) center no-repeat;
					margin-top: 22px;
				}
			}
		}
		.descripcion {
			float: left;
			width: 100%;
			padding: 0 60px;
			margin-top: 40px;
			ol {
				li {
					font: 100 18px @content;
					color: #666;
					margin: 12px 0;
					span {color: #b00203; font-weight: normal;}
					strong {font-weight: bold;}
				}
			}
		}
	}
	.video {
		float: left;
    width: 100%;
    padding: 0 50px;
    margin-top: 32px;
    iframe {
			border: 10px solid #fff;
			box-shadow: 0px 0px 3px 3px;
    }
	}
	.volver {
		float: left;
		width: 100%;
		text-align: center;
		margin-top: 70px;
		a {
			font: 100 23px @content;
			color: #666;
			text-transform: uppercase;
			text-decoration: none;
			width: 247px;
	    display: inline-block;
	    border: 1px solid #ff0023;
	    padding: 5px 0;
	    background: #fff url(../images/varios/flecha-btn-volver.png) 18px 14px no-repeat;
	    padding-left: 40px;
	    position: relative;
	    &:after {
	    	content: '';
	    	position: absolute;
	    	width: 2px;
		    height: 75%;
		    background: rgba(255, 0, 35, 0.3);
		    left: 49px;
		    top: 5px;
	    }
	    &:hover {
	    	background: #fff url(../images/varios/flecha-btn-volver-hover.png) 18px 14px no-repeat;
	    	color: #ff0023;
	    }
		}
	}
}