/**
*
* variables to use in less
*
*/

// Site Standard colors
@taikoRed: #CB171E;
@taikoWhite: #FFFFFF;
@bodyBackground: #fff;
@bodyColor: #808080;
@linkColor:	@taikoRed;

@darkRed: lighten ( @taikoRed, 10%);



// Font size
@baseFontSize: 15px;
@tinyFont: 10px;
@smallFont: 12px;
@normalFont: 14px;
@mediumFont: 16px;
@largeFont: 18px;
@xLargeFont: 22px;
@bigFont: 25px;
@biggerFont: 32px;
@margin: 0 auto;
@otherFont: 13px;


// Font Family
@fontEmphasis: 'Open Sans', sans-serif;
@titles: 'Days One', sans-serif;
@content: 'Open Sans', sans-serif;