.valora-icon {
  background-image: url();
}
.valora-icon .logo {
  background-position: 10px 20px;
}
html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #ffffff;
  background: url("../images/grid.png") repeat, -moz-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -webkit-gradient(linear,left top,right bottom,color-stop(0%,#ffffff),color-stop(78%,#efefef),color-stop(100%,#CDCDCD));
  background: url("../images/grid.png") repeat, -webkit-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -o-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -ms-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, linear-gradient(135deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#bdbdbd',GradientType=1);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  background-attachment: fixed;
}
a {
  transition: all 0.3s;
}
footer {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 20px 0;
}
address {
  width: 856px;
  float: left;
  text-align: center;
}
address ul {
  margin-top: 17px;
  text-align: center;
}
address ul li {
  display: inline-block;
  color: #000;
  font-size: 13px;
  background: url("../images/icon-datos.png") no-repeat;
  padding: 8px 0 8px 37px;
  margin-right: 21px;
}
address ul li a {
  text-decoration: none;
  color: #000;
}
address ul li a:hover {
  color: #C70A2B;
}
#social {
  width: 111px;
  float: right;
}
#social a {
  opacity: 1;
}
#social a:hover {
  opacity: 0.8;
}
#social a img {
  border: 0;
}
.resaltado {
  color: #000;
  font-weight: 600;
}
#logo-sainet {
  background-image: url("../images/logo-sainet.png");
  background-repeat: no-repeat;
  height: 20px;
  margin-right: 13px;
  width: 68px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
#logo-sainet:hover {
  background-image: url(../images/logo_gris.png);
  background-repeat: no-repeat;
}
#sainet_copy {
  color: #000;
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
  text-align: center;
  width: auto;
  display: inline-block;
}
#wrap-all {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
#banner {
  position: relative;
  width: 935px;
  height: 630px;
  margin-left: -283px;
  float: left;
  z-index: 0;
}
nav {
  width: 456px;
  height: 394px;
  background: url("../images/bg-menu.png") no-repeat;
  float: left;
  margin-left: -24px;
}
nav li {
  list-style: none;
  text-align: right;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Days One', sans-serif;
  font-size: 15px;
  font-weight: 300;
  opacity: 1;
  margin-right: 0;
}
nav li a:hover {
  opacity: 0.9;
  margin-right: -10px;
}
.inicio {
  margin-top: 75px;
  padding-right: 124px;
}
.empresa {
  margin-top: 39px;
  padding-right: 143px;
}
.servicios {
  margin-top: 43px;
  padding-right: 192px;
}
.experiencia {
  margin-top: 46px;
  padding-right: 223px;
}
.contacto {
  margin-top: 44px;
  padding-right: 260px;
}
#logo {
  width: 287px;
  height: 139px;
  float: right;
  margin-top: 25px;
}
.fix {
  clear: both;
}
section {
  width: 690px;
  height: auto;
  float: right;
  margin: -115px 0 70px 0;
}
section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}
section h2 {
  font-family: 'Days One', sans-serif;
  font-size: 29px;
  text-align: left;
  color: #000;
  margin-bottom: 23px;
}
#empresa {
  width: 100%;
  height: auto;
  float: left;
}
#empresa p {
  margin-bottom: 14px;
  font-size: 16px;
}
#img-empresa {
  width: 352px;
  height: auto;
  float: right;
  text-align: right;
  padding-top: 53px;
}
#img-empresa img {
  border: 10px solid #fff;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
.resaltado {
  color: #000;
  font-weight: 600;
}
