.valora-icon {
  background-image: url();
}
.valora-icon .logo {
  background-position: 10px 20px;
}
html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #ffffff;
  background: url("../images/grid.png") repeat, -moz-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -webkit-gradient(linear,left top,right bottom,color-stop(0%,#ffffff),color-stop(78%,#efefef),color-stop(100%,#CDCDCD));
  background: url("../images/grid.png") repeat, -webkit-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -o-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, -ms-linear-gradient(-70deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  background: url("../images/grid.png") repeat, linear-gradient(135deg,#ffffff 0%,#efefef 78%,#CDCDCD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#bdbdbd',GradientType=1);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  background-attachment: fixed;
}
a {
  transition: all 0.3s;
}
footer {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 20px 0;
}
address {
  width: 856px;
  float: left;
  text-align: left;
}
address ul {
  margin-top: 17px;
  text-align: left;
}
address ul li {
  display: inline-block;
  color: #000;
  font-size: 13px;
  background: url("../images/icon-datos.png") no-repeat;
  padding: 8px 0 8px 37px;
  margin-right: 21px;
}
address ul li a {
  text-decoration: none;
  color: #000;
}
address ul li a:hover {
  color: #C70A2B;
}
#social {
  width: 111px;
  float: right;
}
#social a {
  opacity: 1;
}
#social a:hover {
  opacity: 0.8;
}
#social a img {
  border: 0;
}
.resaltado {
  color: #000;
  font-weight: 600;
}
#logo-sainet {
  background-image: url("../images/logo-sainet.png");
  background-repeat: no-repeat;
  height: 20px;
  margin-right: 13px;
  width: 68px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
#logo-sainet:hover {
  background-image: url(../images/logo_gris.png);
  background-repeat: no-repeat;
}
#sainet_copy {
  color: #000;
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
  text-align: left;
  width: auto;
  display: inline-block;
}
#wrap-all {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
#banner {
  position: relative;
  width: 935px;
  height: 630px;
  margin-left: -283px;
  float: left;
  z-index: 0;
}
nav {
  width: 456px;
  height: 394px;
  background: url("../images/bg-menu.png") no-repeat;
  float: left;
  margin-left: -24px;
}
nav li {
  list-style: none;
  text-align: right;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Days One', sans-serif;
  font-size: 15px;
  font-weight: 300;
  opacity: 1;
  margin-right: 0;
}
nav li a:hover {
  opacity: 0.9;
  margin-right: -10px;
}
.inicio {
  margin-top: 75px;
  padding-right: 124px;
}
.empresa {
  margin-top: 39px;
  padding-right: 143px;
}
.servicios {
  margin-top: 43px;
  padding-right: 192px;
}
.experiencia {
  margin-top: 46px;
  padding-right: 223px;
}
.contacto {
  margin-top: 44px;
  padding-right: 260px;
}
#logo {
  width: 287px;
  height: 139px;
  float: right;
  margin-top: 25px;
}
.fix {
  clear: both;
}
section {
  width: 690px;
  height: auto;
  float: right;
  margin: -115px 0 70px 0;
}
section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}
section h2 {
  font-family: 'Days One', sans-serif;
  font-size: 29px;
  text-align: left;
  color: #000;
  margin-bottom: 23px;
}
#servicios {
  width: 100%;
  height: auto;
}
#servicios ul {
  margin-top: 30px;
}
#servicios ul li {
  list-style-image: url("../images/lista-icon.png");
  margin: 0 0 25px 19px;
  padding-left: 5px;
  line-height: 20px;
  font-size: 16px;
  text-align: justify;
}
#servicios p {
  font-size: 16px;
}
.img-servicios {
  float: right;
  border: 10px solid #fff;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
  margin: 36px 0 0 25px;
}
#form-container {
  width: 446px;
  height: auto;
  float: left;
  background: #fff;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
#datos {
  width: 355px;
  height: 203px;
  background: url("../images/bg-datos.png") no-repeat;
  margin-left: -111px;
  margin-top: 210px;
  float: left;
}
#datos ul {
  margin: 70px 0 0 5px;
}
#datos ul li {
  list-style: none;
  margin-bottom: 1px;
  color: #fff;
  font-size: 13px;
  margin-left: 0;
}
#datos ul li a {
  color: #fff;
  text-decoration: none;
}
#datos ul li a:hover {
  color: #000;
}
.resaltado-conta {
  font-family: 'Days One', sans-serif;
}
.content-galery-browse {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.content-galery-browse * {
  box-sizing: border-box;
}
.content-galery-browse img {
  max-width: 100%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 9px -2px #000;
}
.content-galery-browse .row {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.content-galery-browse .row .imagen {
  position: relative;
}
.content-galery-browse .row .imagen:after {
  content: '';
  position: absolute;
  width: 94%;
  height: 90%;
  background: rgba(0,0,0,0.31);
  left: 10px;
  top: 11px;
  opacity: 0;
  transition: all 0.3s;
}
.content-galery-browse .row:hover .imagen:after {
  opacity: 1;
}
.content-galery-browse .row:hover .text .link a {
  background: #fff url(../images/varios/mas-boton-hover.png) 92% 14px no-repeat;
  color: #ff0023;
}
.content-galery-browse .row-odd .imagen {
  float: right;
  width: 50%;
  position: relative;
}
.content-galery-browse .row-odd .imagen:before {
  content: '';
  position: absolute;
  width: 160px;
  height: 145px;
  background: url(../images/varios/mascara-fotos1.png) center no-repeat;
  left: -12px;
  bottom: -46px;
}
.content-galery-browse .row-odd .text {
  float: left;
  width: 49%;
  background: #fbfbfb;
  height: 234px;
}
.content-galery-browse .row-odd .text .title {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ff0023;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  margin-top: 47px;
  padding: 0 10px;
}
.content-galery-browse .row-odd .text .link {
  float: left;
  width: 100%;
  text-align: center;
}
.content-galery-browse .row-odd .text .link a {
  font: 100 23px 'Open Sans', sans-serif;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  width: 247px;
  display: inline-block;
  border: 1px solid #ff0023;
  padding: 5px 0;
  background: transparent url(../images/varios/mas-boton.png) 92% 14px no-repeat;
  padding-right: 40px;
  position: relative;
}
.content-galery-browse .row-odd .text .link a:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 75%;
  background: rgba(255,0,35,0.3);
  right: 49px;
  top: 5px;
}
.content-galery-browse .row-even .imagen {
  float: left;
  width: 50%;
  position: relative;
}
.content-galery-browse .row-even .imagen:before {
  content: '';
  position: absolute;
  width: 169px;
  height: 152px;
  background: url(../images/varios/mascara-fotos2.png) center no-repeat;
  right: -12px;
  bottom: -46px;
}
.content-galery-browse .row-even .text {
  float: right;
  width: 49%;
  background: #fbfbfb;
  height: 234px;
}
.content-galery-browse .row-even .text .title {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ff0023;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  margin-top: 47px;
  padding: 0 10px;
}
.content-galery-browse .row-even .text .link {
  float: left;
  width: 100%;
  text-align: center;
}
.content-galery-browse .row-even .text .link a {
  font: 100 23px 'Open Sans', sans-serif;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  width: 247px;
  display: inline-block;
  border: 1px solid #ff0023;
  padding: 5px 0;
  background: transparent url(../images/varios/mas-boton.png) 92% 14px no-repeat;
  padding-right: 40px;
  position: relative;
}
.content-galery-browse .row-even .text .link a:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 75%;
  background: rgba(255,0,35,0.3);
  right: 49px;
  top: 5px;
}
#servicios img {
  max-width: 100%;
}
#servicios .detail {
  float: left;
  width: 100%;
}
#servicios .detail * {
  box-sizing: border-box;
}
#servicios .detail h3 {
  font-family: 'Days One', sans-serif;
  font-size: 29px;
  text-align: right;
  color: #ff0023;
  margin-bottom: 23px;
  margin-top: 30px;
}
#servicios .detail #wrapper {
  width: 97%;
}
#servicios .detail #wrapper #fullsize {
  width: 100%;
  height: 453px;
  border: none;
  background: none;
  float: left;
  position: relative;
}
#servicios .detail #wrapper #fullsize:before {
  content: '';
  position: absolute;
  width: 258px;
  height: 234px;
  background: url(../images/varios/mascara-foto-interna.png) center no-repeat;
  z-index: 99;
  bottom: -62px;
  left: -27px;
}
#servicios .detail #wrapper #fullsize #information {
  display: none;
}
#servicios .detail #wrapper #fullsize #imgprev,
#servicios .detail #wrapper #fullsize #imgnext {
  display: none;
}
#servicios .detail #wrapper #fullsize img {
  border: 17px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px -6px #000;
}
#servicios .detail #wrapper #thumbnails {
  float: left;
  width: 100%;
  background: #ffffff;
  padding: 65px 0;
  margin-top: 0;
}
#servicios .detail #wrapper #thumbnails #slidearea {
  width: 621px;
  height: 137px;
}
#servicios .detail #wrapper #thumbnails #slider {
  height: auto;
}
#servicios .detail #wrapper #thumbnails #slider img {
  width: 202px;
}
#servicios .detail #wrapper #thumbnails #slideleft {
  background: transparent url(../images/varios/btn-atras-galeria.png) center no-repeat;
  margin-top: 22px;
}
#servicios .detail #wrapper #thumbnails #slideright {
  background: transparent url(../images/varios/btn-adelante-galeria.png) center no-repeat;
  margin-top: 22px;
}
#servicios .detail .descripcion {
  float: left;
  width: 100%;
  padding: 0 60px;
  margin-top: 40px;
}
#servicios .detail .descripcion ol li {
  font: 100 18px 'Open Sans', sans-serif;
  color: #666;
  margin: 12px 0;
}
#servicios .detail .descripcion ol li span {
  color: #b00203;
  font-weight: normal;
}
#servicios .detail .descripcion ol li strong {
  font-weight: bold;
}
#servicios .video {
  float: left;
  width: 100%;
  padding: 0 50px;
  margin-top: 32px;
}
#servicios .video iframe {
  border: 10px solid #fff;
  box-shadow: 0px 0px 3px 3px;
}
#servicios .volver {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
#servicios .volver a {
  font: 100 23px 'Open Sans', sans-serif;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  width: 247px;
  display: inline-block;
  border: 1px solid #ff0023;
  padding: 5px 0;
  background: #fff url(../images/varios/flecha-btn-volver.png) 18px 14px no-repeat;
  padding-left: 40px;
  position: relative;
}
#servicios .volver a:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 75%;
  background: rgba(255,0,35,0.3);
  left: 49px;
  top: 5px;
}
#servicios .volver a:hover {
  background: #fff url(../images/varios/flecha-btn-volver-hover.png) 18px 14px no-repeat;
  color: #ff0023;
}
